* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

main{
    font-size: 2.5rem;
    font-weight: 700;
    color: antiquewhite;
    border: 5px solid sandybrown;
    background-color: teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-1{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */ /* 1fr: una fracción de la grilla. Hay 4 fracciones del mismo tamaño, se ajusta al ancho de la página*/
    /* grid-template-columns: 1fr 3fr 1fr 2fr; */ /*A medida que se escala se mantiene la proporción*/
    /* grid-template-columns: 1fr min-content 1fr 2fr; */ /*La columna 2 toma el mínimo ancho ajustando su contenido.*/
    /* grid-template-columns: 1fr max-content 1fr 2fr; */ /*La columna 2 toma el ancho de acuerdo a su contenido. Por lo que su ancho es estático*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Cuando se usa auto-fit/auto-fill se debe declarar un minmax. Se pone 1fr para que se ajuste al alcho completo a medida que se escale.*/
}

.container-2{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

/* La diferencia entre auto-fit y el autofill es que:
    el auto-fit hace que el contenedor oblique a las columnas expandirse hasta el 100%
    el auto-fill hace que el contenedor agrega columnas fantasmas para que las columnas tengan el ancho completo.

    Mantienen las propiedades hasta que llegue a un punto pequeño y van resultando filas.
*/

.items{
    border: 5px solid sandybrown;
}